.formlFind {
  width: 750px;
  margin-top: 70px;
}
.labelFind {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #6e6662;
  width: 230px;
  font-size: 18px;
}

.inputFind {
  align-items: flex-start;
  display: flex;
  font-size: 18px;
  padding-left: 10px;
  background-color: #b1b9cc;
  border-radius: 10px;
  width: 330px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #6e6662;
}

.inputFind:hover,
.inputFind:focus {
  background-color: #e6eaed;
}

.inputFind ::placeholder {
  font-size: 18px;
  border: none;
}
