.item-original {
  width: 350px;
  height: auto;
}
.i-thumbnail {
  width: 100px;
  height: auto;
}

@media screen and (min-width: 1440px) {
  .item-original {
    width: 1000px;
    height: 600px;
  }
  .i-thumbnail {
    width: 250px;
    height: 150px;
  }
}
