@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #f4f4f2;
  color: #495464;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: 'Montserrat', sans-serif;
} */
