.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.toLinkHome {
  margin-top: 100px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  color: #4d4c4c;
  width: 100px;
  height: 30px;
  text-decoration: none;
  border: 1px solid #4d4c4c;
  background-color: white;
  cursor: pointer;
}
/* API_KEY=AIzaSyBcIP6K4aBsX5JuP6dBPLxtpzyVcAdbTzs; */
/* apiKey = AIzaSyDCN8HpJpVmaMjrMD0HeabkH__0jWuxzGU; */

.addressSearchContainer {
  margin-top: 100px;
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
}
